In [ ]:
#Hello, World!
print("Hello, World!")

Hello, World!

In [ ]:
#Variables and Types
x = 10
y = "Python"
print("x:", x, "Type:", type(x))
print("y:", x, "Type:", type(y))

x: 10 Type: <class 'int'>
y: 10 Type: <class 'str'>

In [ ]:
#Lists
numbers = [7, 9, 13, 19, 31]
total = sum(numbers)
average = total / len(numbers)

print("sum:", total)
print("average:", average)

sum: 79
average: 15.8

In [ ]:
#Basic Operators
a = int(input("1st number: "))
b = int(input("2nd number: "))

print("sum:", a + b)
print("difference:", a - b)
print("product:", a * b)
print("quotient:", a / b if b != 0 else "Division by zero error")

1st number: 12
2nd number: 15
sum: 27
difference: -3
product: 180
quotient: 0.8

In [ ]:
#String Formatting
name = "Alice"
age = 25
print("%s is %d years old" % (name, age))
print("{} is {} years old".format(name, age))
print(f"{name} is {age} years old")

Alice is 25 years old
Alice is 25 years old
Alice is 25 years old

In [ ]:
#Basic String Operations
text = input("enter string: ")

print("uppercase:", text.upper())
print("lowercase:", text.lower())

vowels = "aeiouAEIOU"
count = sum(1 for char in text if char in vowels)
print("number of vowels:", count)

print("Reversed:", text[::-1])

enter string: Hello World
uppercase: HELLO WORLD
lowercase: hello world
number of vowels: 3
Reversed: dlroW olleH

In [ ]:
#Conditions
num = int(input("enter number: "))

if num % 2 == 0:
    print("It is even")
else:
    print("It is odd")

enter number: 98
It is even

In [ ]:
#Loops
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
#Functions
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

n = int(input("enter a number: "))
print("factorial:", factorial(n))

enter a number: 5
factorial: 120

In [ ]:
#Classes and Objects
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def display_info(self):
        print(f"Car: {self.brand} {self.model}, Year: {self.year}")

my_car = Car("Honda", "Civic", 2020)
my_car.display_info()

Car: Honda Civic, Year: 2020

In [ ]:
#Dictionaries
students = {"Sunny": 70, "Riya": 92, "Tanya": 95}

for name, score in students.items():
    print(f"{name}: {score}")

highest_score = max(students.values())
print("highest score:", highest_score)

Sunny: 70
Riya: 92
Tanya: 95
highest score: 95

In [ ]:
#Modules and Packages
import math

num = int(input("enter number: "))
print("square root:", math.sqrt(num))
print("factorial:", math.factorial(num))

enter number: 4
square root: 2.0
factorial: 24

In [ ]:
#Input and Output
name = input("enter name: ")
age = input("enter age: ")
print(f"Hello {name}, you are {age} years old")

enter name: Sunny
enter age: 22
Hello Sunny, you are 22 years old